<div class="py-3">
  <p class="text-center text-sm text-gray-700">
    Made in Sarnia by <a href="https://jbennett.me">Jonathan Bennett</a>. &copy; 2019.
    <a href="https://forms.gle/ABqPkiVVRCYptrp68" class="text-blue-400">Add your profile</p>
  </p>
</div>