<div style="background-image: url(<%= random_header_url() %>);" class="bg-cover bg-center">
  <h1 class="py-16 text-white text-6xl leading-none text-center" style="background: HSLA(219, 15%, 35%, .5)">
    <% if content_for? :title_text %>
      <%= yield(:title_text) %>
    <% else %>
      Sarnia Technology<br>Professionals
    <% end %>
  </h1>
</div>